body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    
}
.K1_bgeffect0 {
    background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/green_cup.png");
}
.K1_bgeffect1 {
    background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/ricepaper_v3.png");
}
.K1_bgeffect2 {
    background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/embossed_paper.png");
}
@media (min-width: 576px){
    .container, .container-sm {
        max-width: 90%;
    }}
.container {
  width: 100%;
  padding-top: 0px;
  padding-right: 50px;
  padding-left: 50px;
  margin-right: auto;
  margin-left: auto;
}
/* Flaired edges, by Tomas Theunissen */
hr.spl_line1 {
  overflow: visible; /* For IE */
  height: 28px;
  border-style: solid;
  border-color: black;
  border-width: 1px 0 0 0;
  border-radius: 28px;
  width: 100%;
}
hr.spl_line1:before { /* Not really supposed to work, but does */
  display: block;
  content: "";
  height: 30px;
  margin-top: -31px;
  border-style: solid;
  border-color: black;
  border-width: 0 0 1px 0;
  border-radius: 20px;
}
/* Gradient color1 - color2 - color1 */
hr.spl_line2 {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}
/* Glyph, by Harry Roberts */
hr.spl_line3 {
    overflow: visible; /* For IE */
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #333;
    text-align: center;
}
hr.spl_line3:after {
    /*content: "§";*/
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: white;
}
hr.spl_line4 {
    border-width: 5px 0 0 0;
}
.cursive {
  font-family: "Comic Sans MS", cursive, sans-serif;
}
.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    /*-ms-flex-direction: column;*/
    flex-direction: column;
    min-width: 0;
    /*word-wrap: break-word;*/
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}
*, ::after, ::before {
    box-sizing: border-box;
}
.card-header:first-child {
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
}
.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0,0,0,.03);
    border-bottom: 1px solid rgba(0,0,0,.125);
}
div {
    display: block;
}
a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}
.collapse:not(.show) {
    display: none;
}
.card-body {
    font-family: Georgia, serif;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
}
.category {
    font-weight: bolder;
    font-size: larger;
}
.large {
    font-size: 20px;
}
.xlarge {
    font-size: 21px;
}
table {
    width: 100%;
    border-bottom: solid 1px;
  }
th {
    border-top: solid 1px;
    border-bottom: solid 1px;
}
.kunderline {
    text-decoration-line: underline;
}
.k_tab_alignment {
    text-align: justify;
}
.k_textfill {
    padding: 2px;
    line-height: 30px;
    border: solid 1px black;
    border-radius: 20px;
}
/*Styling unorderd list in skills ans expertise*/
.k_ullist1 {
    list-style-type: circle;
}